.videoFooter {
  position: relative;
  bottom: 20%;
  color: white;
  margin-left: 30px;
}

.videoFooter__text h3 {
  padding-bottom: 25px;
}

.videoFooter__text p {
  padding-bottom: 20px;
  font-size: 12px;
}

.videoFooter__music {
  display: flex;
}

.videoFooterMusic__text {
  /* border: 1px solid red; */
  width: 80%;
  overflow-x: hidden;
}

.videoFooterMusic__text p {
  animation: moveTheText 3s infinite linear;
}

.videoFooter_record {
  animation: spinTheRecord 3s infinite linear;
  position: absolute;
  bottom: 5px;
  right: 10px;
  height: 50px;
  width: 50px;
  filter: invert(1);
}

@keyframes spinTheRecord {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveTheText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media only screen and (max-width: 440px) {
  .videoFooter {
    bottom: 22%;
  }

  .videoFooterMusic__text {
    width: 74%;
  }
}
